@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

@layer reset, base, tokens, recipes, utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	ul,
	li,
	pre,
	code,
	table,
	td,
	th,
	tbody,
	thead,
	tr,
	p,
	a {
		all: revert; /* スタイルをデフォルトに戻す */
	}

	html {
		/* 少し柔らかい感じのフォント */
		font-family: "Kosugi Maru", sans-serif;
		height: 100%;
		overflow: auto;
		scroll-padding-top: calc(34px + 1em);
	}

	/********** CHECKBOX / LIST**********/
	ol,
	ul {
		padding-left: 2em;
	}

	ul > li {
		list-style-type: disc;
	}

	li {
		position: relative;
		height: 100%;
	}

	/* 強調表示 */
	.highlight {
		background-color: yellow !important; /* 背景色を変更 */
		transition: background-color 0.5s ease; /* 背景色が滑らかに変化 */
	}

	.md-note-container {
		ol ol,
		ul ul,
		ol ul,
		ul ol {
			li::before {
				content: "";
				left: -3em;
				position: absolute;
				height: 100%;
				border-left-width: 1px;
				border-left-style: solid;
				border-left-color: #ddd;
			}
		}

		li::marker {
			color: #888;
			font-size: 0.8em;
		}

		li > .paragraph-wrap {
			display: inline;
		}

		.paragraph-wrap {
			display: inline-block;
			width: 100%;
			min-width: 0;

			& > img,
			& > video {
				display: inline;
				vertical-align: top;
				gap: 0;
			}
		}

		table {
			border-collapse: collapse;
			/* margin: 0 auto; */
			/* padding: 0; */
			table-layout: auto;
			width: 100%;
			border: 1px solid #bbb;
			tr {
				background-color: #fff;
				border-top: 1px solid #bbb;
			}

			td,
			th {
				border-right: 1px solid #bbb;
				padding: 0.2em 0.5em;
			}
		}
	}

	.toc {
		li {
			all: revert;
		}
	}

	.task-list-item {
		list-style: none;

		& input[type="checkbox"] {
			position: absolute;
			top: 0.25em;
			left: -1.5em;
			--checkbox-color: #1b78e2;
			appearance: none; /* デフォルトのスタイルを無効化 */
			-webkit-appearance: none;
			width: 1em; /* チェックボックスの幅 */
			height: 1em; /* チェックボックスの高さ */
			border: 1px solid var(--checkbox-color); /* 緑の枠線 */
			border-radius: 0.2em;
			background-color: white;
			cursor: pointer;

			&:checked {
				&::after {
					content: "";
					position: absolute;
					top: 0%;
					left: 30%;
					width: 40%;
					height: 80%;
					border: solid var(--checkbox-color); /* チェックマークの色 */
					border-width: 0 0.2em 0.2em 0;
					transform: rotate(45deg);
				}
			}
		}
	}

	/********** TOC **********/
	.toc {
		padding: 1em 2em;
		border-radius: 0.5em;
		border: 1px solid #eee;
		font-size: 0.8em;
		ul,
		ol {
			padding: 0.2em 0px 0em 20px;
		}
		li {
			list-style: circle;
			list-style: none;
			color: navy;
		}
		a {
			display: inline-block;
			width: 100%;
			padding: 0.1em 0.5em;
			color: inherit;
			text-decoration: none;
			&:hover {
				background-color: #eeeeee;
			}
		}
	}

	.callout-title {
		display: flex;
		flex-direction: row;
	}
	.callout-content {
		padding-top: 0.5em;
	}

	/********** COLL OUT **********/
	/* 開閉 */
	[data-expanded="true"] .callout-content {
		grid-template-rows: 1fr;
	}
	[data-expanded="false"] .callout-content {
		display: none;
	}
	.callout-content > div {
		overflow: hidden;
	}
	[data-expandable="true"] .callout-title {
		cursor: pointer;
	}

	@media (prefers-color-scheme: dark) {
		blockquote {
			--color-border-default: #30363d;
			--color-default-fg: #30363d;
			--color-default-bg: whitesmoke;
			--color-accent-fg: #1b78e2;
			--color-accent-bg: #f8fbfe;
			--color-danger-fg: #f85149;
			--color-danger-bg: #fff0f0;
			--color-attention-fg: #d29922;
			--color-attention-bg: #fff7e8;
			--color-done-fg: #a371f7;
			--color-done-bg: #f7f2ff;
			--color-tip-fg: #0cb9c5;
			--color-tip-bg: #f0feff;
			--color-success-fg: #3fb950;
			--color-success-bg: #f0fff3;
			--color-quote-fg: #a1a1a1;
			--color-quote-bg: whitesmoke;
		}
	}

	blockquote {
		margin: 1em 0;
		padding: 0.5em 1em;

		display: grid;
		grid-template-rows: 0fr;

		& ul,
		& ol {
			margin: 0;
		}

		& li {
			height: auto;
		}
	}

	blockquote:not([data-callout]) {
		background-color: var(--color-default-bg);
	}

	blockquote[data-callout] {
		/* border-left: 0.25em solid
			var(--borderColor-default, var(--color-border-default)); */
		color: inherit;
		padding: 0.8em 1em 1em 1em;

		background-color: var(--color-callout-bg);
		border-left-color: var(--color-callout-fg);

		border-radius: 0.2em;
	}

	blockquote[data-callout] .callout-title {
		align-items: center;
		display: flex;
		font-size: 1em;
		line-height: 1;
		gap: 0.3em;
		font-weight: bold;

		color: var(--color-callout-fg);

		.callout-title-inner {
			display: flex;
			flex-wrap: wrap;
		}

		a {
			font-weight: normal !important;
		}
	}

	blockquote[data-callout] .callout-title-icon svg {
		width: 1em;
		height: 1em;
	}

	blockquote[data-callout="note"],
	blockquote[data-callout="info"],
	blockquote[data-callout="todo"] {
		--color-callout-bg: var(--color-accent-bg);
		--color-callout-fg: var(--color-accent-fg);
	}

	blockquote[data-callout="tip"],
	blockquote[data-callout="abstract"],
	blockquote[data-callout="hint"] {
		--color-callout-bg: var(--color-tip-bg);
		--color-callout-fg: var(--color-tip-fg);
	}

	blockquote[data-callout="important"],
	blockquote[data-callout="example"] {
		--color-callout-bg: var(--color-done-bg);
		--color-callout-fg: var(--color-done-fg);
	}

	blockquote[data-callout="warning"],
	blockquote[data-callout="question"] {
		--color-callout-bg: var(--color-attention-bg);
		--color-callout-fg: var(--color-attention-fg);
	}

	blockquote[data-callout="caution"],
	blockquote[data-callout="failure"],
	blockquote[data-callout="danger"],
	blockquote[data-callout="bug"] {
		--color-callout-bg: var(--color-danger-bg);
		--color-callout-fg: var(--color-danger-fg);
	}

	blockquote[data-callout="success"] {
		--color-callout-bg: var(--color-success-bg);
		--color-callout-fg: var(--color-success-fg);
	}

	blockquote[data-callout="quote"] {
		--color-callout-bg: var(--color-quote-bg);
		--color-callout-fg: var(--color-quote-fg);
	}

	blockquote[data-callout="chat1"],
	blockquote[data-callout="chat2"] {
		all: revert;
		margin: 0;
		& > * {
			all: revert;
		}
		display: flex;

		.callout-title {
			display: none;
		}

		.callout-content {
			br:first-child {
				display: none;
			}

			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

			max-width: 85%;
			position: relative;
			display: inline-block;
			margin: 10px 0px 10px 0px;
			border-radius: 10px;
			padding: 10px 15px 10px 15px;

			line-height: 1.6em;
			font-weight: 600;
			font-size: 0.9em;
		}
	}

	blockquote[data-callout="chat1"] {
		--color_chat1: var(--color-default-bg);
		justify-content: flex-end;
		margin-right: 22px;

		.callout-content {
			background: var(--color_chat1);
			&:after {
				content: "";
				position: absolute;
				top: -2px;
				right: -22px;
				border: 8px solid transparent;
				border-left: 22px solid var(--color_chat1);
				transform: rotate(-35deg);
			}
		}
	}

	blockquote[data-callout="chat2"] {
		--color_chat2: var(--color-success-fg);
		justify-content: flex-start;
		margin-left: 22px;

		.callout-content {
			background: var(--color_chat2);
			color: white;

			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: -2px;
				left: -22px;
				border: 8px solid transparent;
				border-left: 22px solid var(--color_chat2);
				transform: rotate(215deg);
			}
		}
	}

	.mermaid-container {
		& svg {
			height: auto !important;
		}
	}

	h3:has(div) {
		font-size: inherit;
	}
}

.md-note-container {
	a.link {
		display: inline;
	}
}
